<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.webguru.ticketing">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Global.SearchActivity" />

        <activity
            android:name=".Welcome.SplashScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome.IntroScreens"
            android:label="@string/main_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Welcome.WelcomeSplash"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Requester.RequesterMainActivity"
            android:label="@string/main_title" />
        <activity
            android:name=".Agent.AgentMainActivity"
            android:label="@string/main_title"
            android:theme="@style/AppTheme.Dark2">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Global.SearchActivity" />
        </activity>
        <activity
            android:name=".Contractor.ContractorMainActivity"
            android:label="@string/main_title" />
        <activity
            android:name=".Approver.ApproverMainActivity"
            android:label="@string/main_title" />
        <activity
            android:name=".Requester.AddTicketRequest"
            android:label="@string/title_activity_add_field_ticket"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.webguru.ticketing.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Requester.ViewEditFieldTicket"
            android:label="@string/title_activity_view_edit_field_ticket" />
        <activity android:name=".Global.UserProfile" />
        <activity android:name=".Global.SignOut" />
        <activity android:name=".Global.Chat" />
        <activity
            android:name=".Agent.AgentTicketView"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Contractor.DemoTabActivity"
            android:label="@string/title_activity_demo_tab"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".Contractor.DemoTab2"
            android:label="@string/title_activity_demo_tab2"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".Global.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>